<section>
    <div class="contactPage">
        <div class="contactleftContainer">
            <span class="contactText">Contact Me</span>
            <app-leaflet-map></app-leaflet-map>
        </div> 
        <div class="contactInfobox">
            <div class="contactItem">
                <span><i class="fa-solid fa-at icon"></i></span>
                <span class="infoText">martinmanu797@gmail.com</span>
            </div>
            <div class="contactItem">
                <span><i class="fa-solid fa-phone icon2"></i></span>
                <span class="infoText">+91 8848979074</span>
            </div>
            <div class="contactItem">
                <span><i class="fa-solid fa-map-marker-alt icon"></i></span>
                <span class="infoText">Perumpanachy , Kerala , india</span>
            </div>
            <div class="contactItem">
                <span><i class="fa-brands fa-discord icon2"></i></span>
                <span class="infoText">merlin_eliza</span>
            </div>
            <div class="contactItem">
                <span><i class="fa-brands fa-whatsapp icon"></i></span>
                <span class="infoText">+91 9207439881</span>
            </div>
            <div class="contactItem">
                <span><i class="fa-brands fa-linkedin icon2"></i></span>
                <span class="infoText"><a href="https://www.linkedin.com/in/manu-martin-joseph/" target="_blank">LinkedIn Profile</a></span>
            </div>
            <div class="contactItem">
                <span><i class="fa-brands fa-github icon"></i></span>
                <span class="infoText"><a href="https://github.com/martinmanu" target="_blank">GitHub Profile</a></span>
            </div>
            <div class="contactItem">
                <span><i class="fa-brands fa-instagram icon2"></i></span>
                <span class="infoText"><a href="https://www.instagram.com/the_gyarados/" target="_blank">Instagram Profile</a></span>
            </div>
            <div class="contactItem">
                <span><i class="fa-solid fa-code icon"></i></span>
                <span class="infoText"><a href="https://leetcode.com/u/Manu_Martin/" target="_blank">LeetCode Profile</a></span>
            </div>
        </div>
    </div>
    <br>

</section>
