<router-outlet></router-outlet>
<div class="full-height" id="particles-js">
    <section class="header_navigation d-flex justify-content-between col-sm-12">
        <div class="right_name" #rightName>
            <ng-container *ngFor="let char of formattedText">
                <span [ngClass]="{'Mclass': char === 'M','others': char !== 'M'}">{{ char }}</span>
            </ng-container>
        </div>
        <div class="optional_Names d-flex p-3 justify-content-evenly gap-5">
            <span class="option animated-underline" routerLink="/about" (click)="navigateTo('about')">About Me</span>
            <span class="option animated-underline" routerLink="/skills" (click)="navigateTo('skills')">Skills</span>
            <span class="option animated-underline" routerLink="/contact" (click)="navigateTo('contact')">Contact Me</span>
        </div>
    </section>


    <router-outlet></router-outlet>

</div>