.decorator {
    width: 75%;
    height: 95vh;
    pointer-events: none;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-family: "Zilla Slab", serif;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform: scale(0.9);
    opacity: 0;
    animation: fadeIn 2s forwards, scaleUp 2s forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes scaleUp {
    from {
      transform: scale(0.1);
    }
    to {
      transform: scale(1);
    }
  }
  
  .intro {
    font-size: 30px;
    font-weight: bold;
    color: var(--tertiary-color);
    display: flex;
    align-items: center;
  }
  
  .name {
    color: var(--primary-color);
    margin-left: 10px;
    font-size: 50px;
    transition: color 0.3s ease;
  }
  
  .name:hover {
    color: var(--secondary-color);
  }
  
  .role {
    margin-top: 10px;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--secondary-color);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    animation: slideIn 3s ease-out;
  }
  
  @keyframes slideIn {
    from {
      transform: translateY(-20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .description {
    font-family: "Amatic SC", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-top: 20px;
    line-height: 1.6;
    font-size: 1.7em;
    color: var(--text-color);
    transition: color 0.3s ease;
    display: flex;
    flex-wrap: wrap;
  }
  
  .word {
    opacity: 0;
    animation: shine 1s linear forwards;
    margin-right: 5px;
  }
  
  .description:hover {
    color: #333;
  }
  
  .Mclass {
    color: var(--primary-color);
    font-size: 42px;
  }
  
  .others {
    color: var(----text-color);
    font-size: 33px;
  }
  
  .optional_Names {
    color: var(--text-color);
    width: 40%;
    font-family: "Zilla Slab", serif;
    font-size: 20px;
  }
  
  .option:hover {
    color: var(--secondary-color);
  }
  
  .right_name {
    color: white;
    width: 20%;
    font-family: "Zilla Slab", serif;
    padding: 0 15px;
  }
  
  .downloadBtn {
    pointer-events: auto;
    width: 116px;
    height: 45px;
    padding: 3px;
    border: 3px solid var(--secondary-color);
    border-radius: 10px;
    background: var(--text-color);
    font-size: 22px;
    font-weight: bolder;
    cursor: pointer ;
    color: var(--primary-color);
    animation: shines 3s linear forwards;
  }
  
  .downloadBtn:hover {
    color:var(--text-color);
    background: var(--primary-color);
    border: 3px solid var(--text-color);
  }
  
  .animated-underline {
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    color: var(--tertiary-color);
    cursor: pointer;
  }
  
  .animated-underline::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: red;
    transition: width 0.3s ease;
  }
  
  .animated-underline:hover::after {
    width: 100%;
  }
  
  .icons {
    position: absolute;
    top: 90vh;
    left: 65vw;
    display: flex;
    color: var(--tertiary-color);
    gap: 1rem;
    justify-content: space-between;
    z-index: 9999;
    font-size: xx-large;
  }
  
  @keyframes shine {
    from {
      opacity: 0;
      text-shadow: none;
    }
    to {
      opacity: 1;
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.5),
        0 0 10px rgba(255, 255, 255, 0.5);
    }
  }
  
  @keyframes shines {
    from {
      opacity: 0;
      text-shadow: none;
    }
    to {
      opacity: 1;
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.5),
        0 0 10px rgba(255, 255, 255, 0.5);
    }
  }
  
  .triangle {
    position: absolute;
    right: 0;
    top: 10vh;
    width: 0;
    height: 0;
    pointer-events: none;
    border-left: 100vh solid transparent;
    border-right: 0vw solid transparent;
    border-bottom: 90vh solid var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circle {
    width: 355px;
    height: 355px;
    border: 10px solid var(--tertiary-color);
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 35vh;
    right: 1vw;
  }
  
  .profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  